[defaults]
# Chỉ định file inventory mặc định để khỏi phải gõ -i mỗi lần chạy
inventory = playbook/inventory/inventory.ini

# Tăng thời gian chờ kết nối SSH (giải quyết timeout)
timeout = 30

# Tắt nhắc nhở kiểm tra khóa SSH (tiện lợi trong môi trường Lab)
host_key_checking = False

[privilege_escalation]
# Tăng thời gian chờ nhập mật khẩu sudo lên 60 giây
become_timeout = 60

[ssh_connection]
# Bật Pipelining giúp tăng tốc độ chạy playbook lên gấp 2-3 lần
pipelining = True
